@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.box {
    width: 100%;    background-color: #e8d4ec;
    max-height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    color: white;
    flex-wrap: wrap;
}

.box .infos .title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: -8px;
}

.box .infos .description {
    font-size: 13px;
}

.box .infos b {
    color: #e561ff;
}

.box img {
    min-width: 200px;
    max-width: 20%;
    overflow-clip-margin: content-box;
    overflow: clip;
    vertical-align: middle;
}